Здесь представлен каталог примеров, из моего блога <a href="http://blog.hazzik.ru">blog.hazzik.ru</a>

<ul>
    <li>
        <a href="@Url.Action("Index", "DatePicker")">MvcExtensions: как подключить jquery-ui date picker в ASP.NET MVC. Unobtrusive way.</a>
    </li>
</ul>